<div class="answer-screen">
  <h1>Stupid Coaching</h1>
  <div class="question">
    <p class="question" ><%= @question%></p>
    <p><i>- You</i></p>
  </div>
  <div class="answer">
    <p class="answer" ><%= @answer %></p>
    <p><i>- Your Coach</i></p>
  </div>

  <div class="back-link">
    <p class="button" ><%= link_to "Ask a new question", ask_path %></p>
  </div>
</div>
