<h1>Stupid Coaching</h1>

<form action="/answer" data-turbo="false" class="form-inline">
  <p>Ask your coach anything:</p>
  <input type="text" class="form-control"
  id="question"
  name="question"
  placeholder="type a question..."
  value="<%= @question %>"
  >
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
